.flower-footer {
    background: #f5f5f5;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

/* Newsletter */
.footer-newsletter {
    background: #e4e4e4;
    padding: 20px 0;
    text-align: center;
}

.newsletter-box span {
    font-size: 18px;
    margin-right: 20px;
}

.newsletter-input input {
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
}

.newsletter-input button {
    padding: 10px 20px;
    background: #ff3300;
    color: #fff;
    border: none;
    cursor: pointer;
}
.logo a {
    letter-spacing: 2px;
    }
/* Footer content */
.footer-content {
    padding: 40px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h4 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-col ul {
    padding: 0;
    list-style: none;
}

.footer-col ul li {
    margin: 8px 0;
    cursor: pointer;
}

.footer-col ul li:hover {
    color: #ff3300;
}



/* Social icons */
.footer-social i {
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
}

/* Payment icons */
.footer-payments img {
    width: 60px;
    margin: 5px;
}

/* Bottom */
.footer-bottom {
    background: #ddd;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 900px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
}
